* {
    margin: 0;
    font-family: monospace;
}

.text-r {
    color: #FD6E0A;
}

.header {
    background: #FFF8F3;
    background-image: url('/images/header_bg.png'), url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

.btn-primary {
    border: 0px;
    padding: 18px 36px;
    border-radius: 5px;
    background: #FD6E0A;
    height: 64px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* banner */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-discription {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */
section {
    margin-top: 130px;
}

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    font-size: 35px;
    text-align: center;
}

.about-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.about .info-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747
}

/* what i so section */
.skill-conatainer {
    display: flex;
    gap: 24px;
    margin-top: 30px;
}

.skills {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    font-weight: 800;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skil-description {
    color: #757575;
}

/* Resume style */
.resume-content {
    display: flex;
    gap:24px
}
.resume-item{
    margin:30px 0px;
}
.resume .title {
    font-size: 25px;
    font-weight: 700;
    color: #474747
}

.resume .sub-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}
/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact-description{
    margin-top:20px;
    margin-bottom: 30px;
}
.contact a{
    text-decoration: none;
}
.contact input[type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding:18px 30px;
}